* {
	margin: 0;
	padding: 0;
	border: 0;
  }
  
  html, body {
	height: 100%;
  }
  
  body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #555;
	font-family: Arial, sans-serif;
	font-size: 16px;
  }


  @media (max-width: 768px) {
	.container {
	  padding: 0 10px;
	}
  }
  
  @media (max-width: 480px) {
	.container {
	  padding: 0 5px;
	}
  }
  


  
  @font-face {
	font-family: emulogic;
	src: url('emulogic.ttf');
  }
  
  .hidden {
	font-family: emulogic;
	visibility: hidden;
	position: absolute;
  }